<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWsScadenzarioService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2640/sigepro.net/WebServices/WsAreaRiservata/WcfServices/Scadenzario/WsScadenzarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsScadenzarioService"
                contract="WsScadenzario.IWsScadenzarioService" name="BasicHttpBinding_IWsScadenzarioService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>